<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Redirect and Sessions</title>
</head>
<body>
    <h1>Enter your username</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                   <!-- <li class="{{ message[1] }}">{{ message[0] }}</li>-->
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" action="/">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(size=20) }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>
