<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flash Messages</title>
</head>
<body>
	<h1>Flash Message</h1>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
				<li>{{message}}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}

	<form method="POST" action="/">
		{{ form.hidden_tag() }}
		{{ form.name.label }} {{ form.name(size=20) }}
		{{ form.submit() }}
	</form>
</body>
</html>